@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment exclude="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Blogary</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Topics:
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                @{
                                    foreach (Topic topic in Enum.GetValues(typeof(Topic)))
                                    {
                                        <a class="dropdown-item"
                                           asp-action="ViewTopic"
                                           asp-controller="Home"
                                           asp-route-TopicId="@Convert.ToInt32(topic)">@topic</a>
                                    }
                                }

                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sort by:
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"
                                   asp-action="SortByDate"
                                   asp-controller="Home">Date</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link "
                               asp-action="AuthorList"
                               asp-controller="Home">Authors</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @{
                            if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item">
                                    <a class="nav-link"
                                       asp-action="CreateBlog"
                                       asp-controller="Home"
                                       asp-route-Username="@User.Identity.Name">Create Blog</a>
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        More Actions:
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-action="Author"
                                           asp-controller="Profile"
                                           asp-route-UserName="@User.Identity.Name">My Profile</a>

                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="dropdown-item" asp-action="AssignAdmin"
                                               asp-controller="Account">Manage Admins</a>

                                            <a class="dropdown-item" asp-action="BlogsPending"
                                               asp-controller="Home">Blogs Pending</a>
                                        }

                                        <div class="dropdown-divider"></div>

                                        <form method="post" asp-action="Logout" asp-controller="Account">
                                            <button type="submit" class="dropdown-item">
                                                Log Out
                                            </button>
                                        </form>
                                    </div>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link"
                                       asp-controller="Account"
                                       asp-action="Login">Log In</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link"
                                       asp-controller="Account"
                                       asp-action="Register">Register</a>
                                </li>
                            }
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>


    @if (!string.IsNullOrEmpty(ViewBag.Alert))
    {
        <div class="alert @ViewBag.AlertClass" role="alert">
            @ViewBag.Alert
        </div>
    }

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>Blog platform built by <a href="https://github.com/Spoonzio">Jason Pan</a>.</p>
            <p>
                <a href="#navbar">Back to top</a>
            </p>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
